.sidebar{
    width:25%;
    background: #f3f1f1;
    height:calc(100vh - 62px);
}

.sidebar ul{
    padding: 5px;
    list-style: none;
}
.sidebar ul li{
    text-align: center;
}
.sidebar ul li a{
    display: block;
    color: #333;
    text-decoration: none;
    padding: 10px;

}